<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quản lý nhân viên</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script>
        function validateForm() {
            // Làm sạch thông báo lỗi
            document.getElementById("hoTenError").innerHTML = "";
            document.getElementById("sdtError").innerHTML = "";
            document.getElementById("trangThaiError").innerHTML = "";
            document.getElementById("thanhPhoError").innerHTML = "";
            document.getElementById("huyenError").innerHTML = "";
            document.getElementById("xaError").innerHTML = "";
            document.getElementById("diaChiError").innerHTML = "";
            document.getElementById("emailError").innerHTML = "";
            document.getElementById("matKhauError").innerHTML = "";
            document.getElementById("ngaySinhError").innerHTML = "";
            document.getElementById("ngayVaoLamError").innerHTML = "";
            document.getElementById("chucVuError").innerHTML = "";

            var isErr=false;

            // Kiểm tra lỗi cho từng trường
            var hoTen = document.getElementById("hoTenInput").value;
            if (hoTen.trim() === "") {
                document.getElementById("hoTenError").innerHTML = "Vui lòng nhập Họ tên.";
                isErr=true;
            }

            var sdt = document.getElementById("sdtInput").value.trim();
            if (sdt === "") {
                document.getElementById("sdtError").innerHTML = "Vui lòng nhập Số điện thoại.";
                isErr=true;
            }else if(sdt !== ''){
                var regex = /^(0[1-9])+([0-9]{8})$/;
                if(!regex.test(sdt)){
                    document.getElementById("sdtError").innerHTML = "Số điện thoại không hợp lệ.";
                    isErr=true;
                }
            }

            var thanhPho = document.getElementById("province").value;
            if (thanhPho.trim() === "") {
                document.getElementById("thanhPhoError").innerHTML = "Vui lòng chọn Tỉnh/Thành phố.";
                isErr=true;
            }

            var huyen = document.getElementById("district").value;
            if (huyen.trim() === "") {
                document.getElementById("huyenError").innerHTML = "Vui lòng chọn Quận/Huyện.";
                isErr=true;
            }

            var xa = document.getElementById("ward").value;
            if (xa.trim() === "") {
                document.getElementById("xaError").innerHTML = "Vui lòng chọn Xã/Phường.";
                isErr=true;
            }

            var diaChi = document.getElementById("diaChiInput").value;
            if (diaChi.trim() === "") {
                document.getElementById("diaChiError").innerHTML = "Vui lòng nhập Địa chỉ.";
                isErr=true;
            }

            var email = document.getElementById("emailInput").value.trim();
            if (email === "") {
                document.getElementById("emailError").innerHTML = "Vui lòng nhập Email.";
                isErr=true;
            }
            else if(email !== ""){
                var regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                if(!regex.test(email)){
                    document.getElementById("emailError").innerHTML = "Email không hợp lệ.";
                    isErr=true;
                }
            }

            var matKhau = document.getElementById("matKhauInput").value;
            if (matKhau.trim() === "") {
                document.getElementById("matKhauError").innerHTML = "Vui lòng nhập Mật khẩu.";
                isErr=true;
            }

            var ngaySinh = document.getElementById("ngaySinhInput").value;
            if (ngaySinh.trim() === "") {
                document.getElementById("ngaySinhError").innerHTML = "Vui lòng chọn Ngày sinh.";
                isErr=true;
            }else if(ngaySinh.trim() != "") {
                var currentDate = new Date();
                var selectedDate = new Date(ngaySinh);

                if (selectedDate >= currentDate) {
                    document.getElementById("ngaySinhError").innerHTML = "Ngày sinh phải trước ngày hiện tại.";
                    isErr=true;
                }
            }

            var ngayVaoLam = document.getElementById("ngayVaoLamInput").value;
            if (ngayVaoLam.trim() === "") {
                document.getElementById("ngayVaoLamError").innerHTML = "Vui lòng chọn Ngày vào làm.";
                isErr=true;
            }

            if(!isErr){
                document.getElementById("nhanVienForm").submit();
            }
        }

        function validateForm2() {
            // Làm sạch thông báo lỗi
            document.getElementById("hoTenError2").innerHTML = "";
            document.getElementById("sdtError2").innerHTML = "";
            document.getElementById("trangThaiError2").innerHTML = "";
            document.getElementById("thanhPhoError2").innerHTML = "";
            document.getElementById("huyenError2").innerHTML = "";
            document.getElementById("xaError2").innerHTML = "";
            document.getElementById("diaChiError2").innerHTML = "";
            document.getElementById("emailError2").innerHTML = "";
            document.getElementById("ngaySinhError2").innerHTML = "";
            document.getElementById("ngayVaoLamError2").innerHTML = "";
            document.getElementById("chucVuError2").innerHTML = "";

            var isErr=false;

            // Kiểm tra lỗi cho từng trường
            var hoTen = document.getElementById("hoTenInput2").value;
            if (hoTen.trim() === "") {
                document.getElementById("hoTenError2").innerHTML = "Vui lòng nhập Họ tên.";
                isErr=true;
            }

            var sdt = document.getElementById("sdtInput2").value.trim();
            if (sdt === "") {
                document.getElementById("sdtError2").innerHTML = "Vui lòng nhập Số điện thoại.";
                isErr=true;
            }else if(sdt !== ''){
                var regex = /^(0[1-9])+([0-9]{8})$/;
                if(!regex.test(sdt)){
                    document.getElementById("sdtError2").innerHTML = "Số điện thoại không hợp lệ.";
                    isErr=true;
                }
            }

            var thanhPho = document.getElementById("province2").value;
            if (thanhPho.trim() === "") {
                document.getElementById("thanhPhoError2").innerHTML = "Vui lòng chọn Tỉnh/Thành phố.";
                isErr=true;
            }

            var huyen = document.getElementById("district2").value;
            if (huyen.trim() === "") {
                document.getElementById("huyenError2").innerHTML = "Vui lòng chọn Quận/Huyện.";
                isErr=true;
            }

            var xa = document.getElementById("ward2").value;
            if (xa.trim() === "") {
                document.getElementById("xaError2").innerHTML = "Vui lòng chọn Xã/Phường.";
                isErr=true;
            }

            var diaChi = document.getElementById("diaChiInput2").value;
            if (diaChi.trim() === "") {
                document.getElementById("diaChiError2").innerHTML = "Vui lòng nhập Địa chỉ.";
                isErr=true;
            }

            var email = document.getElementById("emailInput2").value.trim();
            if (email === "") {
                document.getElementById("emailError2").innerHTML = "Vui lòng nhập Email.";
                isErr=true;
            }
            else if(email !== ""){
                var regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                if(!regex.test(email)){
                    document.getElementById("emailError2").innerHTML = "Email không hợp lệ.";
                    isErr=true;
                }
            }

            var ngaySinh = document.getElementById("ngaySinhInput2").value;
            if (ngaySinh.trim() === "") {
                document.getElementById("ngaySinhError2").innerHTML = "Vui lòng chọn Ngày sinh.";
                isErr=true;
            }else if(ngaySinh.trim() != "") {
                var currentDate = new Date();
                var selectedDate = new Date(ngaySinh);

                if (selectedDate >= currentDate) {
                    document.getElementById("ngaySinhError2").innerHTML = "Ngày sinh phải trước ngày hiện tại.";
                    isErr=true;
                }
            }

            var ngayVaoLam = document.getElementById("ngayVaoLamInput2").value;
            if (ngayVaoLam.trim() === "") {
                document.getElementById("ngayVaoLamError2").innerHTML = "Vui lòng chọn Ngày vào làm.";
                isErr=true;
            }

            if(!isErr){
                document.getElementById("nhanVienForm2").submit();
            }
        }
    </script>
</head>
<body>

<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle Menu</span>
            </button>
        </div>
        <div class="p-4">
            <h1><a href="../../product/kieu_dang.html" class="logo">DLFV</a></h1>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span
                            class="fa fa-home mr-3"></span>Thống Kê</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Home 1</a>
                        </li>
                        <li>
                            <a href="#">Home 2</a>
                        </li>
                        <li>
                            <a href="#">Home 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#homeSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span
                            class="fa fa-user mr-3"></span> Quản Lý Đơn Hàng</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu1">
                        <li>
                            <a href="#">Home 1</a>
                        </li>
                        <li>
                            <a href="#">Home 2</a>
                        </li>
                        <li>
                            <a href="#">Home 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><span class="fa fa-briefcase mr-3"></span> Bán Hàng Tại Quầy</a>
                </li>
                <li>
                    <a href="#homeSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span
                            class="fa fa-sticky-note mr-3"></span> Quản Lý Sản Phẩm</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu2">
                        <li>
                            <a href="#">Sản Phẩm</a>
                        </li>
                        <li>
                            <a href="#">Thương Hiệu</a>
                        </li>
                        <li>
                            <a href="/admin/danhmuc">Danh Mục</a>
                        </li>
                        <li>
                            <a href="#">Chất Liệu</a>
                        </li>
                        <li>
                            <a href="#">Đế Giày</a>
                        </li>
                        <li>
                            <a href="#">Màu Sắc</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#homeSubmenu3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span
                            class="fa fa-paper-plane mr-3"></span> Quản Lý Tài Khoản</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu3">
                        <li>
                            <a href="/admin/nhan-vien">Nhân viên</a>
                        </li>
                        <li>
                            <a href="#">Khách Hàng</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#homeSubmenu4" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span
                            class="fa fa-cubes mr-3"></span>Khuyến Mại</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu4">
                        <li>
                            <a href="#">Sản Phẩm</a>
                        </li>
                        <li>
                            <a href="#">Hóa Đơn</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="mb-5">
                <h3 class="h6 mb-3">Subscribe for newsletter</h3>
                <form action="#" class="subscribe-form">
                    <div class="form-group d-flex">
                        <div class="icon"><span class="icon-paper-plane"></span></div>
                        <input type="text" class="form-control" placeholder="Enter Email Address">
                    </div>
                </form>
            </div>

            <div class="footer">
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a
                            href="https://colorlib.com" target="_blank">Colorlib.com</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>

        </div>
    </nav>

    <!-- Page Content  -->

    <div id="content" class="p-4 p-md-5 pt-5">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-top: -50px;">
            <div class="container-fluid" style="display: flex;justify-content: end;">
                <ul class="navbar-nav">
                    <!-- Avatar -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#"
                           id="navbarDropdownMenuLink"
                           role="button" data-toggle="dropdown" aria-expanded="false">
                            <img
                                 class="rounded-circle"
                                 th:src="@{|/images/dior1.jpg|}"
                                 height="72" alt="Avatar" loading="lazy"/>
                        </a>
                        <div class="dropdown-menu" style="margin-left: -88px;">
                            <a class="dropdown-item" href="#">Đăng Xuất</a>
                            <a class="dropdown-item" href="#">Thông Tin Cá Nhân</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container" style="border: 1px solid black;border-radius: 10px;padding: 20px">

            <div class="row">
                <div class="col-4">
                    <div class="card">
                        <div class="card-header">
                            Nhân viên hiện tại
                        </div>
                        <div class="card-body">
                            <h2 class="card-title">[[${nhanVienDto.nvHienTai}]]</h2>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <div class="card-header">
                            Nhân viên mới trong tháng
                        </div>
                        <div class="card-body">
                            <h2 class="card-title">[[${nhanVienDto.nvMoiTrongThang}]]</h2>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <div class="card-header">
                            Nhân viên nghỉ việc trong tháng
                        </div>
                        <div class="card-body">
                            <h2 class="card-title">[[${nhanVienDto.nvNghiTrongThang}]]</h2>
                        </div>
                    </div>
                </div>
            </div>

            <form action="/admin/nhan-vien/find" method="get">
                <h2 style="text-transform: uppercase;
    color: #000000;font-family: 'Lora';text-align: center;">Tìm kiếm nhân viên</h2>
                <div class="row">
                    <div class="form-group col-3">
                        <label for="formGroupExampleInput">Mã</label>
                        <input type="text" name="ma" class="form-control" id="formGroupExampleInput"
                               placeholder="Mã">
                    </div>
                    <div class="form-group col-3">
                        <label for="formGroupExampleInput">Tên,sdt,email</label>
                        <input type="text" name="data" class="form-control" id="formGroupExampleInput"
                               placeholder="Mã">
                    </div>
                    <div class="form-group col-3">
                        <label for="formGroupExampleInput2">Chức vụ</label>
                        <select class="form-control" id="formGroupExampleInput2" name="maCv">
                            <option th:value="${null}" >Tất cả</option>
                            <option th:each="cv : ${listChucVu}" th:value="${cv.ma}" th:text="${cv.ten} "
                            ></option>
                        </select>
                    </div>
                    <div class="col form-group ">
                        <label for="formGroupExampleInput"></label>
                        <button class="btn btn-primary" type="submit" id="formGroupExampleInput"
                                title="Nhấn để tìm" style="margin-top: 35px;">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>

            </form>

            <!--            modal them nhan vien-->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Thêm
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </button>

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content" style="background-color: #d4d4d4">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Thêm Mới Nhân Viên</h5>
                        </div>
                        <div class="modal-body">
                            <form action="/admin/nhan-vien/create" method="post" th:object="${nhanVien}" id="nhanVienForm" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="form-group col-4">
                                        <label for="formGroupExampleInput2">Họ tên</label>
                                        <input type="text" th:field="*{hoTen}" class="form-control" id="hoTenInput" placeholder="Họ tên">
                                        <small class="text-danger" id="hoTenError"></small>
                                    </div>

                                    <div class="form-group col-4">
                                        <label for="formGroupExampleInput2">Số điện thoại</label>
                                        <input type="text" th:field="*{sdt}" class="form-control" id="sdtInput" placeholder="Số điện thoại">
                                        <small class="text-danger" id="sdtError"></small>
                                    </div>

                                    <div class="form-group col-4">
                                        <fieldset>
                                            <legend class="col-form-label pt-0">Trạng Thái :</legend>
                                            <div class="">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" th:field="*{trangThai}" id="gridRadios1" th:value="1">
                                                    <label class="form-check-label" for="gridRadios1">
                                                        Hoạt động
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" th:field="*{trangThai}" id="gridRadios2" th:value="0">
                                                    <label class="form-check-label" for="gridRadios2">
                                                        Không hoạt động
                                                    </label>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <small class="text-danger" id="trangThaiError"></small>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-4">
                                        <label for="province">Tỉnh/Thành phố</label>
                                        <select class="form-control" id="province" th:field="*{thanhPho}">
                                            <option value="" >Chọn Tỉnh/Thành phố</option>
                                        </select>
                                        <small class="text-danger" id="thanhPhoError"></small>
                                    </div>

                                    <div class="form-group col-4">
                                        <label for="district">Quận/Huyện</label>
                                        <select class="form-control " id="district" th:field="*{huyen}">
                                            <option value="" >Chọn Quận/Huyện</option>
                                        </select>
                                        <small class="text-danger" id="huyenError"></small>
                                    </div>

                                    <div class="form-group col-4">
                                        <label for="ward">Xã/Phường</label>
                                        <select class="form-control" id="ward" th:field="*{xa}">
                                            <option value="" >Chọn Xã/Phường</option>
                                        </select>
                                        <small class="text-danger" id="xaError"></small>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-4">
                                        <label for="formGroupExampleInput2">Địa chỉ</label>
                                        <input type="text" th:field="*{diaChi}" class="form-control" id="diaChiInput" placeholder="Địa chỉ">
                                        <small class="text-danger" id="diaChiError"></small>
                                    </div>

                                    <div class="form-group col-4">
                                        <label for="formGroupExampleInput2">Email</label>
                                        <input type="text" th:field="*{email}" class="form-control" id="emailInput" placeholder="Email">
                                        <small class="text-danger" id="emailError"></small>
                                    </div>

                                    <div class="form-group col-4">
                                        <label for="formGroupExampleInput2">Mật khẩu</label>
                                        <input type="text" th:field="*{matKhau}" class="form-control" id="matKhauInput" placeholder="Mật khẩu">
                                        <small class="text-danger" id="matKhauError"></small>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-3">
                                        <label for="formGroupExampleInput2">Ngày sinh</label>
                                        <input type="date" th:field="*{ngaySinh}" class="form-control" id="ngaySinhInput">
                                        <small class="text-danger" id="ngaySinhError"></small>
                                    </div>

                                    <div class="form-group col-3">
                                        <label for="formGroupExampleInput2">Ngày vào làm</label>
                                        <input type="date" th:field="*{ngayVaoLam}" class="form-control" id="ngayVaoLamInput">
                                        <small class="text-danger" id="ngayVaoLamError"></small>
                                    </div>

                                    <div class="form-group col-3">
                                        <label for="formGroupExampleInput2">Ngày nghỉ việc</label>
                                        <input type="date" th:field="*{ngayNghiViec}" class="form-control" id="ngayNghiViecInput">
                                        <small class="text-danger" id="ngayNghiViecError"></small>
                                    </div>

                                    <div class="form-group col-3">
                                        <label for="formGroupExampleInput2">Chức vụ</label>
                                        <select class="form-control" id="chucVuInput" th:field="*{chucVu.id}">
                                            <option th:each="cv : ${listChucVu}" th:value="${cv.id}" th:text="${cv.ten}"></option>
                                        </select>
                                        <small class="text-danger" id="chucVuError"></small>
                                    </div>

                                    <div class="form-group col-4">
                                        <label for="formGroupExampleInput2">Chọn ảnh đại diện</label>
                                        <input type="file" id="file" name="file" accept=".jpg, .jpeg, .png">
                                    </div>
                                </div>

                                <button class="btn btn-primary" type="button" onclick="validateForm()">Thêm mới</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <div style="margin: 20px">
                <h2 style="text-transform: uppercase;
    color: black;font-family: 'Lora';text-align: center;">Danh sách nhân viên</h2>
                <table class="table" style="margin: 20px 0;">
                    <thead class="thead-light">
                    <tr>
                        <th scope="row">Ảnh đại diện</th>
                        <th scope="row">Mã nhân viên</th>
                        <th>Họ tên</th>
                        <th>Số điện thoại</th>
                        <th>Email</th>
                        <th>Trạng thái</th>
                        <th>Chức vụ</th>
                        <th>Thao tác</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item,state:${page.content}">
                        <th scope="row">
                            <img
                                    style="width: 8rem"
                                    th:src="@{|/images/${item.anh}|}"
                            >
                        </th>
                        <th scope="row">[[${item.ma}]]</th>
                        <th>[[${item.hoTen}]]</th>
                        <th>[[${item.sdt}]]</th>
                        <th>[[${item.email}]]</th>
                        <th th:text="${item.trangThai==1 ? 'Hoạt động':'Không hoạt động'}"></th>
                        <th>[[${item.chucVu.ten}]]</th>
                        <th>
                            <!--            modal xem,updte nhan vien-->
                            <a href="#" title="Xem chi tiết" type="button" data-toggle="modal" data-target="#exampleModalUd" class="btn-detail" th:ma="${item.ma}">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </a>

                            <div class="modal fade" id="exampleModalUd" tabindex="-1" aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content" style="background-color: #d4d4d4">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Cập nhật nhân viên</h5>
                                            <span class="float-right">
                                                            <img src="https://tuvanbhxh.net/wp-content/uploads/2023/04/cach-thay-doi-anh-bia-zalo.jpg" id="anhud" style="width: 12rem;border-radius: 50%">
                                                            <!--                                                        <label for="formGroupExampleInput2">Chọn ảnh đại diện</label>-->
                                                            <!--                                                        <input type="file" id="file2" name="file" accept=".jpg, .jpeg, .png">-->
                                            </span>
                                        </div>

                                        <div class="modal-body">

                                            <form action="/admin/nhan-vien/update" method="post" th:object="${nhanVien}" id="nhanVienForm2">
                                                <div class="row">



                                                    <div class="form-group col-4">
                                                        <label for="formGroupExampleInput2">Mã</label>
                                                        <input type="text" th:field="*{ma}" class="form-control" readonly>
                                                        <small class="text-danger" id="hoTenError2"></small>
                                                    </div>

                                                    <div class="form-group col-4">
                                                        <label for="formGroupExampleInput2">Họ tên</label>
                                                        <input type="text" th:field="*{hoTen}" class="form-control" id="hoTenInput2" placeholder="Họ tên">
                                                        <small class="text-danger" id="hoTenError2"></small>
                                                    </div>

                                                    <div class="form-group col-4">
                                                        <label for="formGroupExampleInput2">Số điện thoại</label>
                                                        <input type="text" th:field="*{sdt}" class="form-control" id="sdtInput2" placeholder="Số điện thoại">
                                                        <small class="text-danger" id="sdtError2"></small>
                                                    </div>


                                                </div>

                                                <div class="row">
                                                    <div class="form-group col-4">
                                                        <label for="province">Tỉnh/Thành phố</label>
                                                        <select class="form-control" id="province2" th:field="*{thanhPho}">
                                                            <option value="" >Chọn Tỉnh/Thành phố</option>
                                                        </select>
                                                        <small class="text-danger" id="thanhPhoError2"></small>
                                                    </div>

                                                    <div class="form-group col-4">
                                                        <label for="district">Quận/Huyện</label>
                                                        <select class="form-control " id="district2" th:field="*{huyen}">
                                                            <option value="" >Chọn Quận/Huyện</option>
                                                        </select>
                                                        <small class="text-danger" id="huyenError2"></small>
                                                    </div>

                                                    <div class="form-group col-4">
                                                        <label for="ward">Xã/Phường</label>
                                                        <select class="form-control" id="ward2" th:field="*{xa}">
                                                            <option value="" >Chọn Xã/Phường</option>
                                                        </select>
                                                        <small class="text-danger" id="xaError2"></small>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group col-4">
                                                        <label for="formGroupExampleInput2">Địa chỉ</label>
                                                        <input type="text" th:field="*{diaChi}" class="form-control" id="diaChiInput2" placeholder="Địa chỉ">
                                                        <small class="text-danger" id="diaChiError2"></small>
                                                    </div>

                                                    <div class="form-group col-4">
                                                        <label for="formGroupExampleInput2">Email</label>
                                                        <input type="text" th:field="*{email}" class="form-control" id="emailInput2" placeholder="Email">
                                                        <small class="text-danger" id="emailError2"></small>
                                                    </div>


                                                    <div class="form-group col-4">
                                                        <fieldset>
                                                            <legend class="col-form-label pt-0">Trạng Thái :</legend>
                                                            <div class="">
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="radio" th:field="*{trangThai}" id="gridRadios1" th:value="1">
                                                                    <label class="form-check-label" for="gridRadios1">
                                                                        Hoạt động
                                                                    </label>
                                                                </div>
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="radio" th:field="*{trangThai}" id="gridRadios2" th:value="0">
                                                                    <label class="form-check-label" for="gridRadios2">
                                                                        Không hoạt động
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                        <small class="text-danger" id="trangThaiError2"></small>
                                                    </div>


                                                    <div class="form-group col-4" hidden>
                                                        <label for="formGroupExampleInput2">Mật khẩu</label>
                                                        <input type="text" th:field="*{matKhau}" class="form-control" id="matKhauInput2" placeholder="Mật khẩu">
                                                        <small class="text-danger" id="matKhauError2"></small>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="form-group col-3">
                                                        <label for="formGroupExampleInput2">Ngày sinh</label>
                                                        <input type="date" th:field="*{ngaySinh}" class="form-control" id="ngaySinhInput2">
                                                        <small class="text-danger" id="ngaySinhError2"></small>
                                                    </div>

                                                    <div class="form-group col-3">
                                                        <label for="formGroupExampleInput2">Ngày vào làm</label>
                                                        <input type="date" th:field="*{ngayVaoLam}" class="form-control" id="ngayVaoLamInput2">
                                                        <small class="text-danger" id="ngayVaoLamError2"></small>
                                                    </div>

                                                    <div class="form-group col-3">
                                                        <label for="formGroupExampleInput2">Ngày nghỉ việc</label>
                                                        <input type="date" th:field="*{ngayNghiViec}" class="form-control" id="ngayNghiViecInput2">
                                                        <small class="text-danger" id="ngayNghiViecError2"></small>
                                                    </div>

                                                    <div class="form-group col-3">
                                                        <label for="formGroupExampleInput2">Chức vụ</label>
                                                        <select class="form-control" id="chucVuInput2" th:field="*{chucVu.id}">
                                                            <option th:each="cv : ${listChucVu}" th:value="${cv.id}" th:text="${cv.ten}"></option>
                                                        </select>
                                                        <small class="text-danger" id="chucVuError2"></small>
                                                    </div>
                                                </div>

                                                <button class="btn btn-primary" type="button" onclick="validateForm2()">Cập nhật</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <a th:href=" @{|/admin/nhan-vien/delete/${item.ma}|}" title="Xóa">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                            <a th:href=" @{|/admin/nhan-vien/findHoaDon/${item.ma}|}"
                               title="Hóa đơn đã bán của nhân viên">Hóa đơn đã bán</a>
                        </th>
                    </tr>
                    </tbody>
                </table>

                <span th:if="${page.totalPages>0}">
                    <span th:each="i : ${#numbers.sequence(0, page.totalPages-1)}">
                    <a th:text="${i+1}" th:href="@{|/admin/nhan-vien?number=${i}|}" class="btn btn-primary"></a>
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/assets/js/popper.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js" integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<script>
    const host = "https://provinces.open-api.vn/api/";
    var callAPI = (api) => {
        return axios.get(api)
            .then((response) => {
                renderData(response.data, "province","Tỉnh/Thành phố");
            });
    }
    callAPI('https://provinces.open-api.vn/api/?depth=1');
    var callApiDistrict = (api) => {
        return axios.get(api)
            .then((response) => {
                renderData(response.data.districts, "district","Quận/Huyện");
            });
    }
    var callApiWard = (api) => {
        return axios.get(api)
            .then((response) => {
                renderData(response.data.wards, "ward","Xã/Phường");
            });
    }

    var renderData = (array, select,type) => {
        let row = ' <option disable value="" selected>Chọn '+type+'</option>';

        array.forEach(element => {
            row += `<option value="${element.name}" data-code="${element.code}">${element.name}</option>`
        });
        document.querySelector("#" + select).innerHTML = row
    }

    $("#province").change(() => {
        const selectedCode = $("#province option:selected").data("code");
        if (selectedCode == '' || selectedCode == null ){
            $("#district").val('');
            $("#ward").val('');
        }
        callApiDistrict(host + "p/" + selectedCode + "?depth=2");
        printResult();
    });
    $("#district").change(() => {
        const selectedCode = $("#district option:selected").data("code");
        if (selectedCode == '' || selectedCode == null ){
            $("#ward").val('');
        }
        callApiWard(host + "d/" + selectedCode + "?depth=2");
        printResult();
    });
    $("#ward").change(() => {
        printResult();
    })

    var printResult = () => {
        if ($("#district").val() != "" && $("#province").val() != "" &&
            $("#ward").val() != "") {
            let result = $("#province option:selected").text() +
                " | " + $("#district option:selected").text() + " | " +
                $("#ward option:selected").text();
            $("#result").text(result)
        }
    }

    var callAPI2 = (api) => {
        return axios.get(api)
            .then((response) => {
                renderData(response.data, "province2","Tỉnh/Thành phố");

            });
    }
    callAPI2('https://provinces.open-api.vn/api/?depth=1');
    var callApiDistrict2 = (api) => {
        return axios.get(api)
            .then((response) => {
                renderData(response.data.districts, "district2","Quận/Huyện");
            });
    }
    var callApiWard2 = (api) => {
        return axios.get(api)
            .then((response) => {
                renderData(response.data.wards, "ward2","Xã/Phường");
            });
    }

    $("#province2").change(() => {
        const selectedCode = $("#province2 option:selected").data("code");
        if (selectedCode == '' || selectedCode == null ){
            $("#district2").val('');
            $("#ward2").val('');
        }
        callApiDistrict2(host + "p/" + selectedCode + "?depth=2");
        printResult2();
    });
    $("#district2").change(() => {
        const selectedCode = $("#district2 option:selected").data("code");
        if (selectedCode == '' || selectedCode == null ){
            $("#ward2").val('');
        }
        callApiWard2(host + "d/" + selectedCode + "?depth=2");
        printResult2();
    });
    $("#ward2").change(() => {
        printResult2();
    })

    var printResult2 = () => {
        if ($("#district2").val() != "" && $("#province2").val() != "" &&
            $("#ward2").val() != "") {
            let result = $("#province2 option:selected").text() +
                " | " + $("#district2 option:selected").text() + " | " +
                $("#ward2 option:selected").text();
            $("#result2").text(result)
        }
    }

    $(document).ready(function(){
        $(".btn-detail").click(function(){
            var ma=$(this).attr("ma");
            var form = $("#exampleModalUd"); // Chọn tất cả các thẻ <form> trên trang
            $.ajax({
                url: "http://localhost:2020/rest/nhanvien/"+ma,
                method: "GET",
                dataType: "json", // Kiểu dữ liệu trả về từ máy chủ (json, html, text, etc.)
                success: function (data) {
                    form.find('[name="ma"]').val(data.ma);
                    form.find('[name="hoTen"]').val(data.hoTen);
                    form.find('[name="ngaySinh"]').val(data.ngaySinh);
                    form.find('[name="diaChi"]').val(data.diaChi);
                    form.find('[name="thanhPho"]').val(data.thanhPho);
                    let selected1 = $("#province2 option:selected").data("code");
                    callApiDistrict2(host + "p/" + selected1 + "?depth=2");
                    setTimeout(function () {
                        form.find('[name="huyen"]').val(data.huyen);
                        let selected2 = $("#district2 option:selected").data("code");
                        callApiWard2(host + "d/" + selected2 + "?depth=2");
                        setTimeout(function () {
                            form.find('[name="xa"]').val(data.xa);
                        }, 300);
                    }, 200);
                    form.find('[name="sdt"]').val(data.sdt);
                    form.find('[name="email"]').val(data.email);
                    form.find('[name="matKhau"]').val(data.matKhau);
                    form.find('[name="chucVu.id"]').val(data.chucVu.id);
                    form.find('[name="ngayVaoLam"]').val(data.ngayVaoLam);
                    form.find('[name="ngayNghiViec"]').val(data.ngayNghiViec);
                    $('#anhud').attr("src",window.location.origin+'/images/'+ data.anh);
                    form.find('[name="trangThai"]').filter('[value="' + data.trangThai + '"]').prop('checked', true);

                },
                error: function (error) {
                    console.log("Lỗi khi tải dữ liệu: " + error);
                }
            });
        });
    });

</script>

</body>
</html>