<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/getlistvalue" method="post">
    <div>
        <input type="checkbox" checked value="abc" name="listvalue">SP1
        <input type="number"  value="10" name="abc_so_luong">
    </div>
    <div>
        <input type="checkbox" checked value="abc1" name="listvalue">SP2
        <input type="number" value="12" name="abc1_so_luong">
    </div>
    <div>
        <input type="checkbox" checked value="abc2" name="listvalue">SP3
        <input type="number" value="11" name="abc2_so_luong">
    </div>
    <div>
        <input type="checkbox" checked value="abc3" name="listvalue">SP4
        <input type="number" value="16" name="abc3_so_luong">
    </div>
    <button type="submit">Add</button>
</form>
</body>
</html>