<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sidebar 03</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle Menu</span>
            </button>
        </div>
        <div class="p-4">
            <h1><a href="kieu_dang.html" class="logo">DLFV</a></h1>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a href="#homeSubmenu"  data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span class="fa fa-home mr-3"></span>Thống Kê</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Home 1</a>
                        </li>
                        <li>
                            <a href="#">Home 2</a>
                        </li>
                        <li>
                            <a href="#">Home 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#homeSubmenu1"  data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span class="fa fa-user mr-3"></span> Quản Lý Đơn Hàng</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu1">
                        <li>
                            <a href="#">Home 1</a>
                        </li>
                        <li>
                            <a href="#">Home 2</a>
                        </li>
                        <li>
                            <a href="#">Home 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><span class="fa fa-briefcase mr-3"></span> Bán Hàng Tại Quầy</a>
                </li>
                <li>
                    <a href="#homeSubmenu2"  data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span class="fa fa-sticky-note mr-3"></span> Quản Lý Sản Phẩm</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu2">
                        <li>
                            <a href="/admin/sanpham">Sản Phẩm</a>
                        </li>
                        <li>
                            <a href="/admin/xuatxu">Cảm Giác</a>
                        </li>
                        <li>
                            <a href="/admin/chatlieu">Chất Liệu</a>
                        </li>
                        <li>
                            <a href="/admin/danhmuc">Danh Mục</a>
                        </li>
                        <li>
                            <a href="/admin/degiay">Đế Giày</a>
                        </li>
                        <li>
                            <a href="/admin/diahinh">Địa Hình</a>
                        </li>
                        <li>
                            <a href="/admin/docaogiay">Độ Cao Giày</a>
                        </li>
                        <li>
                            <a href="/admin/gioitinh">Giới Tính</a>
                        </li>
                        <li>
                            <a href="/admin/mausac">Màu Sắc</a>
                        </li>
                        <li>
                            <a href="/admin/thoitietthichhop">Thời Tiết Thích Hợp</a>
                        </li>
                        <li>
                            <a href="/admin/thuonghieu">Thương Hiệu</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#homeSubmenu3"  data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span class="fa fa-paper-plane mr-3"></span> Quản Lý Tài Khoản</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu3">
                        <li>
                            <a href="#">Nhân Viên</a>
                        </li>
                        <li>
                            <a href="#">Khách Hàng</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#homeSubmenu4"  data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><span class="fa fa-cubes mr-3"></span>Khuyến Mại</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu4">
                        <li>
                            <a href="#">Sản Phẩm</a>
                        </li>
                        <li>
                            <a href="#">Hóa Đơn</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="mb-5">
                <h3 class="h6 mb-3">Subscribe for newsletter</h3>
                <form action="#" class="subscribe-form">
                    <div class="form-group d-flex">
                        <div class="icon"><span class="icon-paper-plane"></span></div>
                        <input type="text" class="form-control" placeholder="Enter Email Address">
                    </div>
                </form>
            </div>

            <div class="footer">
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>

        </div>
    </nav>

    <!-- Page Content  -->

    <div id="content" class="p-4 p-md-5 pt-5">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-top: -50px;">
            <div class="container-fluid" style="display: flex;justify-content: end;">
                <ul class="navbar-nav">
                    <!-- Avatar -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdownMenuLink"
                           role="button" data-toggle="dropdown" aria-expanded="false">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="rounded-circle"
                                 height="72" alt="Avatar" loading="lazy" />
                        </a>
                        <div class="dropdown-menu" style="margin-left: -88px;">
                            <a class="dropdown-item" href="#">Đăng Xuất</a>
                            <a class="dropdown-item" href="#">Thông Tin Cá Nhân</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container" style="border: 1px solid black;border-radius: 10px;padding: 20px">
            <form action="/admin/xuatxu/create" method="post" th:object="${xuatxu}">
                <input type="text" hidden  th:field="*{id}">
                <div class="form-group">
                    <label for="formGroupExampleInput">Mã</label>
                    <input type="text" th:field="*{ma}" class="form-control" id="formGroupExampleInput" placeholder="Mã">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Tên</label>
                    <input type="text" th:field="*{ten}" class="form-control" id="formGroupExampleInput2" placeholder="Tên">
                </div>
                <fieldset class="form-group">
                    <div class="row">
                        <legend class="col-form-label col-sm-2 pt-0">Trạng Thái : </legend>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" th:field="*{trangthai}" id="gridRadios1" th:value="1">
                                <label class="form-check-label" for="gridRadios1">
                                    Hoạt Động
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" th:field="*{trangthai}" id="gridRadios2" th:value="0" >
                                <label class="form-check-label" for="gridRadios2">
                                    Không Hoạt Động
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <button class="btn btn-primary" th:formaction="@{|/admin/xuatxu/create|}" type="submit">Thêm Mới</button>
                <button class="btn btn-success" th:formaction="@{|/admin/xuatxu/update/${xuatxu.ma}|}" type="submit">Cập Nhập</button>
            </form>
            <div style="margin: 20px">
                <h1 style="text-transform: uppercase;
    color: black;font-family: 'Lora';text-align: center;">Danh Sách Xuất Xứ Giày</h1>
                <table class="table" style="margin: 20px 0;">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Mã</th>
                        <th scope="col">Tên</th>
                        <th scope="col">Trạng Thái</th>
                        <th scope="col">Sự Kiện</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item:${listPXuatXu.content}">
                            <th scope="row">[[${item.ma}]]</th>
                            <th>[[${item.ten}]]</th>
                            <th th:text="${item.trangthai == 1 ? 'Hoạt Động' : 'Ngừng Hoạt Động'}"></th>
                            <th><a th:href="@{|/admin/xuatxu/detail/${item.ma}|}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                <a th:href="@{|/admin/xuatxu/delete/${item.ma}|}" style="margin-left: 20px;"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>

            <nav aria-label="Page navigation example" style="display: flex;justify-content: space-between;">
                <div style="margin-left: 20px">
                    <p>Bạn đang xem [[${listPXuatXu.numberOfElements}]] trên tổng số [[${listPXuatXu.totalElements}]]</p>
                </div>
                <ul class="pagination" style="margin-right: 24px;">
                    <li class="page-item">
                        <a class="page-link" th:href="@{|/admin/xuatxu?page=${listPXuatXu.number-1}|}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li th:each="tongtrang,status:${#numbers.sequence(1, listPXuatXu.totalPages)}" class="page-item"><a class="page-link" th:href="@{|/admin/xuatxu?page=${status.index}|}">[[${status.index+1}]]</a></li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{|/admin/xuatxu?page=${listPXuatXu.number+1}|}"  aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/popper.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/main.js"></script>
</body>
</html>