<!DOCTYPE html>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<style>
    ul li {
        margin-bottom: 5px;
    }

    ul li a {
        text-decoration: none;
        color: #3D464D !important;
    }

    ul li a:hover {
        color: #FFD333 !important;
    }

    .nav {
        display: block !important;
    }

    #hoSo:hover {
        text-decoration: none;
    }

    .container > .row > .col-9 {
        background-color: white;
        border: .0625rem solid #efefef;
        border-radius: 5px;
    }

    .mk{
        margin-bottom: 8px;
    }
    .round-image {
        border-radius: 50%;
        overflow: hidden; /* Đảm bảo hình ảnh không vượt ra khỏi hình tròn */
    }
</style>

<html th:replace="~{/layout/index :: dynamic(~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<main>

    <div class="container">

        <div class="row">
            <div class="col-3">
                <ul class="nav flex-column">
                    <li class="nav-item" style="border-bottom: .0625rem solid #efefef;padding-bottom: 10px;padding-top: 15px">
                        <a href="/qltk-kh/thong-tin" id="hoSo">
                            <div class="row">
                                <div class="col-3 img-avart">
                                    <img th:src="@{|/images/${khachHang.avatar}|}" alt="Avatar" class="img-thumbnail round-image">
                                </div>
                                <div class="col-9 ">
                                    <div class="row">
                                        <div style="width: 100%">
                                            [[${khachHang.hoten}]]
                                        </div>
                                        <div>
                                            <i class="fa-solid fa-pen"></i>
                                            Sửa hồ sơ
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/qltk-kh/thong-tin">
                            <div class="row">
                                <div class="col-1">
                                    <i class="fa-solid fa-user fa-beat"></i>
                                </div>
                                <div class="col-9">
                                    Thông tin tài khoản
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/qltk-kh/doi-mat-khau">
                            <div class="row">
                                <div class="col-1">
                                    <i class="fa-solid fa-lock fa-beat"></i>
                                </div>
                                <div class="col-9">
                                    Đổi mật khẩu
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/qltk-kh/dia-chi">
                            <div class="row">
                                <div class="col-1">
                                    <i class="fa-solid fa-location-dot fa-beat"></i></div>
                                <div class="col-9">
                                    Địa
                                    chỉ
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/qltk-kh/don-hang">
                            <div class="row">
                                <div class="col-1">
                                    <i class="fa-solid fa-cart-shopping fa-beat"></i>
                                </div>
                                <div class="col-9">
                                    Đơn
                                    hàng
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/qltk-kh/dssanphamyeuthich">
                            <div class="row">
                                <div class="col-1">
                                    <i class="fa-regular fa-heart"></i>
                                </div>
                                <div class="col-9">
                                    Yêu Thích
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-9">
                <ul class="nav flex-column">
                    <li class="nav-item" style="border-bottom: .0625rem solid #efefef;padding-bottom: 10px;padding-top: 15px">
                        <h5 style="margin-bottom: 0px">
                            Đổi mật khẩu
                        </h5>
                        <span>
                            Để bảo mật tài khoản, vui lòng không chia sẻ mật khẩu cho người khác
                        </span>
                    </li>
                </ul>
                <form method="post" action="/qltk-kh/doi-mat-khau">
                    <div class="row mk" style="margin-top: 20px">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-5">
                                    <p class=" float-right">Mật khẩu cũ</p>
                                </div>
                                <div class="col-7">
                                    <input type="password"
                                           name="mkCu">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mk">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-5">
                                    <p class=" float-right">Mật khẩu mới</p>
                                </div>
                                <div class="col-7">
                                    <input type="password"
                                           name="mkMoi">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mk">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-5">
                                    <p class=" float-right">Xác nhận mật khẩu</p>
                                </div>
                                <div class="col-7">
                                    <input type="password"
                                           name="mkMoi2">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mk">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-5">
                                    <div class=" float-right">
                                    </div>
                                </div>
                                <div class="col-7">
                                    <button type="submit" class="btn-primary btn">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                        Đổi mật khẩu
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>


</body>
</html>
