<!DOCTYPE html>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">

<style>
    ul li {
        margin-bottom: 5px;
    }

    ul li a {
        color: #3D464D;
    }

    ul li a:hover {
        color: #FFD333;
    }

    .nav {
        display: block !important;

    }

    #[[${trangThaiDon}]]
    {
        border-bottom: 1px solid #6C757F;
    }

    #hoSo:hover {
        text-decoration: none;
    }

    main > .container:first-child > .row > .col-9 {
        background-color: white;
        border: .0625rem solid #efefef;
        border-radius: 5px;
    }
    .round-image {
         border-radius: 50%;
         overflow: hidden; /* Đảm bảo hình ảnh không vượt ra khỏi hình tròn */
     }
</style>
<html th:replace="~{/layout/index :: dynamic(~{::main})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<main>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <ul class="nav flex-column">
                    <li class="nav-item" style="border-bottom: .0625rem solid #efefef">
                        <a href="/qltk-kh/thong-tin" id="hoSo">
                            <div class="row">
                                <div class="col-3 img-avart">
                                    <img th:src="@{|/images/${khachHang.avatar}|}" alt="Avatar" class="img-thumbnail round-image">
                                </div>
                                <div class="col-9 ">
                                    <div class="row">
                                        <div style="width: 100%">
                                            [[${khachHang.hoten}]]
                                        </div>
                                        <div>
                                            <i class="fa-solid fa-pen"></i>
                                            Sửa hồ sơ
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/qltk-kh/thong-tin">
                            <div class="row">
                                <div class="col-1">
                                    <i class="fa-solid fa-user fa-beat"></i>
                                </div>
                                <div class="col-9">
                                    Thông tin tài khoản
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/qltk-kh/doi-mat-khau">
                            <div class="row">
                                <div class="col-1">
                                    <i class="fa-solid fa-lock fa-beat"></i>
                                </div>
                                <div class="col-9">
                                    Đổi mật khẩu
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/qltk-kh/dia-chi">
                            <div class="row">
                                <div class="col-1">
                                    <i class="fa-solid fa-location-dot fa-beat"></i></div>
                                <div class="col-9">
                                    Địa
                                    chỉ
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/qltk-kh/don-hang">
                            <div class="row">
                                <div class="col-1">
                                    <i class="fa-solid fa-cart-shopping fa-beat"></i>
                                </div>
                                <div class="col-9">
                                    Đơn
                                    hàng
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/qltk-kh/dssanphamyeuthich">
                            <div class="row">
                                <div class="col-1">
                                    <i class="fa-regular fa-heart"></i>
                                </div>
                                <div class="col-9">
                                    Yêu Thích
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-9">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                                aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav navbar">

                                <li class="nav-item" id="tat-ca">
                                    <a class="nav-link" href="/qltk-kh/don-hang">Tất cả</a>
                                </li>

                                <li class="nav-item " id="cho-xac-nhan">
                                    <a class="nav-link" href="/qltk-kh/don-hang?trangThaiDon=cho-xac-nhan">Chờ xác
                                        nhận</a>
                                </li>

                                <li class="nav-item " id="dang-chuan-bi">
                                    <a class="nav-link"
                                       href="/qltk-kh/don-hang?trangThaiDon=dang-chuan-bi">Đang chuẩn
                                        bị</a>
                                </li>

                                <li class="nav-item " id="dang-giao-hang">
                                    <a class="nav-link"
                                       href="/qltk-kh/don-hang?trangThaiDon=dang-giao-hang">Đang giao
                                        hàng</a>
                                </li>

                                <li class="nav-item " id="hoan-thanh">
                                    <a class="nav-link"
                                       href="/qltk-kh/don-hang?trangThaiDon=hoan-thanh">Hoàn thành</a>
                                </li>

                                <li class="nav-item " id="da-huy">
                                    <a class="nav-link" href="/qltk-kh/don-hang?trangThaiDon=da-huy">Đã
                                        hủy</a>
                                </li>

                                <li class="nav-item " id="tra-hang-hoan-tien">
                                    <a class="nav-link" href="/qltk-kh/don-hang?trangThaiDon=tra-hang-hoan-tien">Trả hàng/Hoàn
                                        tiền</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <div>
                    <div th:each="hd:${pageHd.content}" style="margin-bottom: 15px">
                        <div class="container">
                            <div style="border-top: 3px solid #6C757D;"></div>
                            <div class="row" style="margin-top: 10px">
                                <div class="col-7">
                                    <h5>Mã đơn hàng : [[${hd.ma}]]</h5>
                                    <h5>Ngày tạo : [[${#temporals.format(hd.ngay_tao, 'dd/MM/yyyy')}]]</h5>
                                </div>
                                <div class="col-5">
                                    <h4 style="text-transform: uppercase">đơn hàng [[${hd.convertTrangThai()}]]</h4>
                                </div>
                            </div>
                            <div th:each="hdct:${hd.listHdct}"
                                 style="border-bottom: 1px solid darkgray;margin-bottom: 5px">
                                <div class="row">
                                    <div class="col-2">
                                        <img style="width: 100%"
                                             th:src="@{|/images/${hdct.giayChiTiet.giay.anhs[0].ten_url}|}"
                                             alt="">
                                    </div>
                                    <div class="col-8">
                                        <p>[[${hdct.giayChiTiet.giay.ten}]]</p>
                                        <p>[[${hdct.so_luong}]] x</p>
                                    </div>
                                    <div class="col-2">
                                        [[${hdct.don_gia}]] VNĐ
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-9">
                                </div>
                                <div class="col-3">
                                    <h5>Tổng [[${hd.tong_tien}]] VNĐ</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="margin: 0 auto;text-align: center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination" style="display: inline-block;">
                                <li class="page-item" style="display: inline-block;"
                                    >
                                    <a class="page-link"
                                       th:if="${pageHd.number!=0}"
                                       th:href="@{|/qltk-kh/don-hang?trangThaiDon=${trangThaiDon}&number=0|}">
                                        <i class="fa-solid fa-backward-step"></i>
                                    </a>
                                </li>
                                <li class="page-item" style="display: inline-block;">
                                    <a class="page-link"
                                       th:href="@{|/qltk-kh/don-hang?trangThaiDon=${trangThaiDon}&number=${pageHd.number-2}|}"
                                       th:text="${pageHd.number-1}"
                                       th:if="${pageHd.number-2>=0}"

                                    >
                                    </a>
                                </li>
                                <li class="page-item" style="display: inline-block;">
                                    <a class="page-link"
                                       th:href="@{|/qltk-kh/don-hang?trangThaiDon=${trangThaiDon}&number=${pageHd.number-1}|}"
                                       th:text="${pageHd.number}"
                                       th:if="${pageHd.number-1>=0}"

                                    >
                                    </a>
                                </li>
                                <li class="page-item" style="display: inline-block;">
                                    <a class="page-link"
                                       th:href="@{|/qltk-kh/don-hang?trangThaiDon=${trangThaiDon}&number=${pageHd.number}|}"
                                       th:text="${pageHd.number+1}"
                                    >
                                    </a>
                                </li>
                                <li class="page-item" style="display: inline-block;">
                                    <a class="page-link"
                                       th:href="@{|/qltk-kh/don-hang?trangThaiDon=${trangThaiDon}&number=${pageHd.number+1}|}"
                                       th:text="${pageHd.number+2}"
                                       th:if="${pageHd.number+1<=pageHd.totalPages-1}"
                                    >
                                    </a>
                                </li>
                                <li class="page-item" style="display: inline-block;">
                                    <a class="page-link"
                                       th:href="@{|/qltk-kh/don-hang?trangThaiDon=${trangThaiDon}&number=${pageHd.number+2}|}"
                                       th:text="${pageHd.number+3}"

                                       th:if="${pageHd.number+2<=pageHd.totalPages-1}"
                                    >
                                    </a>
                                </li>
                                <li class="page-item" style="display: inline-block;"
                                    >
                                    <a class="page-link"
                                       th:href="@{|/qltk-kh/don-hang?trangThaiDon=${trangThaiDon}&number=${pageHd.totalPages-1}|}"
                                       th:if="${pageHd.number<pageHd.totalPages-1}"
                                    >
                                        <i class="fa-solid fa-forward-step"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>
</html>