<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login V4</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/assets/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/css/util.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-login100" style="background-image: url('/assets/images/bg-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form action="/otp" class="login100-form validate-form" method="post"
                  th:object="${khachHang}">
					<span class="login100-form-title p-b-49">
						Đăng ký
					</span>


                    <input class="input100" th:field="*{hoten}"  hidden type="text" placeholder="Nhập họ và tên">

                    <input class="input100" th:field="*{ngaysinh}" hidden type="date" placeholder="Chọn ngày sinh">

                    <input class="input100" th:field="*{email}" hidden id="email" type="text" placeholder="Nhập email">

                    <input class="input100" th:field="*{matkhau}" hidden type="text" placeholder="Nhập mật khẩu">

                    <input class="input100" type="text" hidden th:field="*{sdt}" placeholder="Nhập số điện thoại">


                <div class="row">
                    <div class="col-8">
                        <div class="wrap-input100 validate-input " data-validate="OTP không được để trống">
                            <span class="label-input100">OTP</span>
                            <input class="input100 " type="text" name="OTP" placeholder="Nhập OTP">
                            <span class="focus-input100" data-symbol="&#xf190;"></span>
                        </div>
                    </div>
                    <div class="col-4 row">
                        <div class="col-12">
                        </div>
                        <div class="col-12">
                        </div><div class="col-12">
                        </div><div class="col-12">
                        </div>
                        <div class="col-12">
                        </div>
                        <div class="col-12">
                            <button id="btn-otp">
                                <a href="#">
                                    Gửi OTP
                                </a>
                            </button>
                        </div>
                    </div>
                    <p style="color: red;padding-left: 10px;font-size: 20px;font-family: Consolas">[[${otp}]]</p>
                </div>

                <div class="text-right p-t-8 p-b-31">
                    <a href="#">
                        Forgot password?
                    </a>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                            Tạo tài khoản
                        </button>
                    </div>
                </div>

                <div class="txt1 text-center p-t-54 p-b-20">
						<span>
							Or Sign Up Using
						</span>
                </div>

                <div class="flex-c-m">
                    <a href="#" class="login100-social-item bg1">
                        <i class="fa fa-facebook"></i>
                    </a>

                    <a href="#" class="login100-social-item bg2">
                        <i class="fa fa-twitter"></i>
                    </a>

                    <a href="#" class="login100-social-item bg3">
                        <i class="fa fa-google"></i>
                    </a>
                </div>

                <div class="flex-col-c p-t-155">
						<span class="txt1 p-b-17">
							Or Sign Up Using
						</span>

                    <a href="#" class="txt2">
                        Sign Up
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="/assets/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="/assets/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="/assets/vendor/bootstrap/js/popper.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="/assets/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="/assets/vendor/daterangepicker/moment.min.js"></script>
<script src="/assets/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="/assets/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="/assets/js/main3.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

    $(document).ready(function () {
        var btnOtp = $("#btn-otp");
        btnOtp.click(function () {
            var email = $("#email").val();
            $.ajax({
                type: "GET",
                url: "/gui-otp/" + email,
                success: function (response) {
                },
                error: function () {
                    console.log("An error occurred.");
                }
            });
        });
    });


</script>
</body>
</html>